html, body {
  height: 100%;
  background: linear-gradient(135deg, #3a90e8, #a1ddf8) fixed;
}

/* #temp {
  min-height: 100%;
  width: 73%;
  margin: 0 auto;
  padding: 3.5rem 0;
} */

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 73%;
  padding: 3.5rem 0;
  margin: 0 auto;
}

main {
  width: 100%;
}

header {
  margin-bottom: 3rem;
  color: #fff;
}

header h2 {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.4;
  margin: 0;
}

.timeslots-base {
  background-color: #fff;
}

.timeslots-header {
  background-color: rgb(62, 138, 189);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .78rem;
}

.timeslots-base h3 {
  font-size: 1.3rem;
  font-weight: bold;
  color: #fff;
  margin: 0;
}

.timeslot {
  display: grid;
  grid-template-rows: 2.4rem auto;
}

.timeslot a {
  color: #565B5C;
}

.timeslot a:hover,
.timeslot a:focus {
  background-color: rgba(151, 197, 228, 0.562);
  transition: all 1s;
}

.slot-number {
  background-color: #BDE5FF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slot-number p {
  color: #1A7FDC;
  margin: 0;
}

.slot-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slot-info div {
  padding: 12px 0;
}

.slot-info p + p {
  margin-top: 0;
}


@media screen and (min-width: 768px) {
  .timeslots {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1px;
  }
  .timeslots-base {
    background-color: rgba(218, 217, 217, 0.438);
  }
  .timeslot {
    background-color: #fff;
  }
}